body {
    margin: 0;
    padding: 0;

    background-color: #D0D7DC;

    width: 325px;
    max-width: 325px;
}

main {
    font-size: 14px;
    font-family: 'Open-sans', sans-serif;
    color: #24292f;

    background-color: white;

    padding: 0.25rem;
    margin: 0.25rem;
}

hr {
    border: none;
    border-bottom: 2px solid #D0D7DC;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin: 0.5rem 0;
}
.item {
    margin-right: 0.25rem;
    
    font-size: 0.8rem;

    color: #D0D7DC;
}

.item svg {
    fill: currentColor;
}

.item:hover {
    color: #757a7e;
}
